.todo-row {
  flex-direction: column;
  background: #eee;
  color: #555;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: all 450ms;
  overflow: hidden;
  background-size: cover;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.todo-row:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  color: #555;
  transform: translateY(-3px) scale(1.1);
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.button {
  padding: 6px;
  margin: 3px;
  justify-content: center;
  align-items: center;
}

.icons {
  flex-direction: column;
}
