body{
  margin-top:20px;
  background:#eee;
}

.todo .row {
  margin: 0;
  padding: 15px 0;
  margin-bottom: 15px
}

.todo div[class*='col-'] {
  border-right: 1px solid #eee
}

.todo .text h3 {
  margin-bottom: 0;
  color: #555
}

.todo .text small {
  color: #aaa;
  font-size: 0.9em
}

.has-shadow {
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
}

.bg-white {
  background: #f4f4f4 !important;
}
